* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  background: #e9ddc7;
  color: #666;
  font-family: "Roboto", sans-serif;
}

section p {
  font-family: "Roboto", sans-serif;
  text-indent: 35px;
  font-size: 18px;
}

section h2 {
  padding: 25px 0 25px 25px;
  font-family: "Anton", sans-serif;
  color: #f8e470;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
}

.overlay, .burger {
  display: none;
}

#about::after, #portfolio::after, #contact::after {
  content: "";
  background: #666;
  width: 15%;
  height: 10px;
  border-radius: 4px;
  display: block;
  margin: 35px auto 0 auto;
}

#main {
  background: url(/img/city1.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main h3 {
  color: #f8e470;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

#main span:first-child {
  color: #c53939;
}

#main span:nth-child(2) {
  text-decoration: underline;
}

.main-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-flow: space-around;
      flex-flow: space-around;
  height: 50px;
}

.main-nav a {
  font-family: "Anton", sans-serif;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
  text-transform: uppercase;
  color: #c53939;
  font-size: 28px;
  padding: 0 35px;
}

#about {
  height: auto;
}

#about .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

#about .pic {
  width: 120px;
  height: 120px;
  background: url(/img/my_pic.jpg);
  background-size: cover;
  margin: 0 15px;
  border: 2px solid #666;
  border-radius: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#about .desc {
  width: 76%;
  text-align: justify;
  margin-left: 16px;
}

#about ul {
  margin: 25px 0 0 35vw;
}

#about li {
  font-weight: 800;
  font-family: "Oswald", sans-serif;
}

#portfolio img {
  display: block;
  margin: 55px auto 0 auto;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

#portfolio img:hover {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(1.9) rotate(15deg);
          transform: scale(1.9) rotate(15deg);
}

#portfolio a {
  color: #006a6a;
  font-size: 20px;
}

footer {
  background: #006a6a;
  color: #e9ddc7;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

footer a {
  color: #222;
  font-size: 19px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .burger {
    z-index: 3;
    display: block;
    top: 2%;
    right: 2%;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: rgba(102, 102, 102, 0.329);
    position: fixed;
  }
  .burger span {
    -webkit-transition: background .4s ease, -webkit-transform .3s ease-out;
    transition: background .4s ease, -webkit-transform .3s ease-out;
    transition: transform .3s ease-out, background .4s ease;
    transition: transform .3s ease-out, background .4s ease, -webkit-transform .3s ease-out;
    display: block;
    background: #504f4f;
    width: 50px;
    height: 5px;
    border-radius: 2px;
    margin: 7px auto 0 auto;
  }
  .burger span:first-child {
    margin-top: 14px;
  }
  .burger-active {
    background: transparent;
    border: none;
  }
  .burger-active span {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  .burger-active span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 23% 140%;
            transform-origin: 23% 140%;
  }
  .burger-active span:nth-child(2) {
    background: transparent;
  }
  .burger-active span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 19% -82%;
            transform-origin: 19% -82%;
  }
  .main-nav {
    display: none;
  }
  #main {
    background: url(/img/city-mobile.jpg);
    background-size: cover;
  }
  #main h3 {
    font-size: 20px;
  }
  #about {
    height: auto;
  }
  #about .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto;
  }
  #about .container .pic {
    margin-bottom: 25px !important;
  }
  #about .container .desc {
    margin-left: 40px;
  }
  #about ul {
    margin: 25px 8vw 0 14vw;
  }
  #portfolio p {
    margin: 0 8vw;
    text-align: justify;
  }
  #portfolio img {
    width: 170px;
  }
  .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 100%;
    -webkit-transition: left .5s ease;
    transition: left .5s ease;
    background: rgba(102, 102, 102, 0.233);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay a {
    display: block;
    margin-left: 35vw;
    font-weight: 700;
    color: #e9ddc7;
    font-family: "Oswald", sans-serif;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
    font-size: 35px;
  }
  .overlay-active {
    -webkit-transition: left .5s ease-in;
    transition: left .5s ease-in;
    left: 0;
  }
  .is-blur {
    -webkit-filter: blur(35px);
            filter: blur(35px);
  }
  .stop-overflow {
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */